

h1{
	font-style: italic;
	padding-top:20px;
	font-size: 30px;
	text-indent: 50px;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	color: rgb(42, 227, 42);
	 
}

h2{
	padding-top:10px;
	font-size: 20px;
	text-indent: 50px;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	color: rgb(139, 247, 112);
}
.history{
	text-indent: 50px;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	line-height: 20px;
	color: rgb(83, 83, 219);
}
.culture{
	text-indent: 50px;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	line-height: 20px;
	color: rgb(232, 56, 56)
}
.Middle-earth{
	text-indent: 50px;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	line-height: 20px;
	color: rgb(180, 172, 172);
}
.Ukrain{
	text-indent: 50px;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	line-height: 20px;
	font-weight: 700;
	 
}
.mordor{
	text-decoration: line-through;
	font-size: 20px;
	text-indent: 50px;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	color:rgb(49, 29, 4)
}
.ship{
	padding-top:20px;
	  position: relative;
	  left: 50px;
}
.UK{
	font-size: 30px;
	text-indent: 50px;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	color: rgb(42, 227, 42);
}
