.card_container{
    min-width: 1262px;
    min-height: 655px;
    background-color: #FFFFFF;
    margin: -153px 89px 0 89px;
    .card_title{
        padding: 93px 0 0 99px;
        font-size: 35px;
        font-weight: 500px;
        }
        .card_column{
            max-width: 317px;
            min-height: 287px;
        }
        .card_column_text_title{
            font-size: 18px;
            margin: 26px 0 0 0;
        }
        .card_column_text_text{
            font-size: 16px;
            margin: 26px 0 0 0;
        }
        .card_column_text_button{
            color: #006DFE;
            font-size: 16px;
            margin: 39px 0 0 0;
        }

}
.columns{
    max-width: 1062px;
    max-height: 288px;
    display: flex;
    justify-content: space-between;
    margin: 120px 100px 0 100px;
}
