@import "./var.scss";
.footer__picture {
  background: {
    image: url("../img/footer.jpg");
    position: 0 0;
    size: 100%;
    repeat: no-repeat;
  }
  .footer__picture-background {
    margin: {
      top: 144px;
      left: 0px;
      right: 0px;
      bottom: 0px;
    }
    min-height: 629px;
    background-color: $BackgroundColor;
  }
}

.footer__information {
  background-color: $BackgroundColorFooter;
  max-width: 100%;
  height: 370px;
  .footer__information-company {
    display: grid;
    grid-template-columns: 720px 240px 240px 240px;
    grid-template-rows: 370px;
    .footer__information-logotype {
      font-size: 50px;
      color: $WhiteColor;
      margin: 0px auto;
      padding: {
        top: 160px;
        left: 0px;
        right: 0px;
        bottom: 0px;
      }
    }
  }

  .footer__column-company {
    padding: {
      top: 160px;
      left: 0px;
      right: 0px;
      bottom: 0px;
    }
  }
  .footer__column-locations {
    padding: {
      top: 160px;
      left: 0px;
      right: 0px;
      bottom: 0px;
    }
  }
  .footer__column-media {
    padding: {
      top: 160px;
      left: 0px;
      right: 0px;
      bottom: 0px;
    }
  }
  .footer__column-text {
    color: $WhiteColor;
    font-size: 16px;
    margin: {
      top: 3px;
      left: 0px;
      right: 0px;
      bottom: 0px;
    }
  }

  .footer__column-title {
    color: $WhiteColor;
    font-size: 18px;
    margin: {
      top: 0px;
      left: 0px;
      right: 0px;
      bottom: 4px;
    }
  }
}
