@import "./var.scss";
.gallery__title-container {
  max-width: 1264px;
  margin: {
    top: 131px;
    left: 90px;
    right: 0px;
    bottom: 0px;
  }
  display: flex;
  justify-content: space-between;
  .gallery__title {
    font-size: 35px;
    color: $MainColor;
  }
  .gallery__title-button {
    color: $MainButtonColor;
  }
}

.gallery__pictures {
  max-width: 1264px;
  min-height: 735px;
  margin: {
    top: 46px;
    left: 89px;
    right: 89px;
    bottom: 0px;
  }
  .gallery__container-picture {
    display: grid;
    gap: 10px;
    grid-template-columns: 619px 635px;
    grid-template-rows: 354px;
  }
  .gallery__picture-mount {
    background: {
      image: url("../img/mount_fuji.jpg");
      position: 0 0;
      size: 100%;
      repeat: no-repeat;
    }
    .picture-mount {
      font-size: 50px;
      color: $WhiteColor;
      background: {
        color: $BackgroundColor;
      }
      padding: {
        top: 267px;
        left: 29px;
        right: 0px;
        bottom: 0px;
      }
      min-height: 354px;
      min-width: 619px;
    }
  }
  .gallery__picture-kioto {
    background: {
      image: url("../img/kioto.jpg");
      position: 0 0;
      size: 100%;
      repeat: no-repeat;
    }
  }
  .picture-kioto {
    padding: {
      top: 267px;
      left: 29px;
      right: 0px;
      bottom: 0px;
    }
    font-size: 50px;
    color: $WhiteColor;
    min-height: 354px;
    min-width: 635px;
    background: {
      color: $BackgroundColor;
    }
  }
  .gallery__container-photos {
    margin: {
      top: 10px;
      left: 0px;
      right: 0px;
      bottom: 0px;
    }
    display: grid;
    gap: 10px;
    grid-template-columns: 415px 415px 414px;
    grid-template-rows: 283px;
  }
  .gallery__photo-tokyo {
    background: {
      image: url("../img/tokyo.jpg");
      position: 0 0;
      size: 100%;
      repeat: no-repeat;
    }
  }
  .photo-tokyo {
    padding: {
      top: 196px;
      left: 32px;
      right: 0px;
      bottom: 0px;
    }
    font-size: 50px;
    color: $WhiteColor;
    min-height: 283px;
    min-width: 415px;
    background: {
      color: $BackgroundColor;
    }
  }
  .gallery__photo-niigata {
    background: {
      image: url("../img/niigata.jpg");
      position: 0 0;
      size: 100%;
      repeat: no-repeat;
    }
  }
  .photo-niigata {
    min-height: 283px;
    min-width: 415px;
    background: {
      color: $BackgroundColor;
    }

    padding: {
      top: 196px;
      left: 32px;
      right: 0px;
      bottom: 0px;
    }
    font-size: 50px;
    color: $WhiteColor;
  }
  .gallery__photo-sapporo {
    background: {
      image: url("../img/sapporo.jpg");
      position: 0 0;
      size: 100%;
      repeat: no-repeat;
    }
  }
  .photo-sapporo {
    min-height: 283px;
    min-width: 414px;
    background: {
      color: $BackgroundColor;
    }
    padding: {
      top: 196px;
      left: 32px;
      right: 0px;
      bottom: 0px;
    }
    font-size: 50px;
    color: $WhiteColor;
  }
}
