@import "./var.scss";
.header {
  background: {
    image: url("../img/image.jpg");
    position: 0 0;
    repeat: no-repeat;
    repeat: round;
  }
}
.container {
  background: {
    image: linear-gradient($Linear-GradientColor);
  }

  min-height: 922px;
  .header__top-line {
    min-width: 1060px;
    padding: {
      top: 56px;
      left: 191px;
      right: 186px;
      bottom: 0px;
    }
    height: 31px;
    display: flex;
    justify-content: space-between;
    .header__odigo {
      color: $WhiteColor;
      font-size: 31px;
    }
    .header__menu {
      font-size: 18px;
      color: $WhiteColor;
      .header__menu-item {
        float: left;

        margin: {
          top: 17px;
          left: 82px;
          right: 0px;
          bottom: 0px;
        }
      }
    }
  }
}
.header__description {
  .header__title {
    max-width: 619px;
    font-size: 50px;
    color: $WhiteColor;
    margin: {
      top: 233px;
      left: 191px;
      right: 0px;
      bottom: 0px;
    }
  }
  .header__text {
    max-width: 546px;
    font-size: 16px;
    line-height: 24px;
    margin: {
      top: 22px;
      left: 191px;
      right: 0px;
      bottom: 0px;
    }
    color: $WhiteColor;
  }
}
.header__buttons {
  margin: {
    top: 59px;
    left: 191px;
    right: 0px;
    bottom: 0px;
  }
  max-width: 885px;
  display: flex;
  justify-content: space-between;
  .header__radio-button {
    color: $WhiteColor;
    font-size: 18px;
    border-bottom: 3px solid $WhiteColor;
  }

  .header__search-button {
    padding: {
      top: 15px;
      left: 39px;
      right: 39px;
      bottom: 14px;
    }
    background: {
      color: $ButtonHeaderColor;
    }
    font-size: 24px;
    color: $WhiteColor;
  }
}
