$WhiteColor: #ffffff;
$MainColor: #102746;
$MainButtonColor: #006dfe;
$Linear-GradientColor: #35426700, #151824;
$ButtonHeaderColor: #1b7dff;
$BackgroundBodyColor: #f2f2f2;
$BackgroundColor: #15182466;
$BackgroundColorFooter: #0e1d28;
